name: (fast) CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  nix-matrix:
    strategy:
      matrix:
        ghc: [94, 96, 98, 910, 912]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v15
        with:
          name: guibou
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      # Builds
      - name: Build with GHC ${{ matrix.ghc }}
        run: nix build .#krank_${{ matrix.ghc }}
